@media screen and (max-width: 480px) {
    .main .header {
        padding: 0 7% !important;
    }

    .main .footer {
        padding: 0 7% !important;
    }

    .main .grid {
        width: 98% !important;
    }
}